#server:
#  port: 8090
springdoc:
  api-docs:
    path: /api-docs
  show-actuator: true
  use-management-port: true
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method

management:
  health:
    consul:
      enabled: false
    defaults:
      enabled: false
    diskspace:
      enabled: false
  metrics:
    use-global-registry: false
  defaults:
    metrics:
      export:
        enabled: false
  datadog:
    metrics:
      export:
        enabled: false
  server:
    port: 9090
  endpoint:
    web:
      cors:
        allowed-origins: "*"
        allowed-methods: "*"
        allowed-headers: "*"
    shutdown:
      enabled: true
    info:
      enabled: true
  endpoints:
    enabled-by-default: true
    web:
      discovery:
        enabled: false
      cors:
        allowed-origins: "*"
        allowed-methods: "*"
        allowed-headers: "*"
      exposure:
        include: openapi, swagger-ui, health



feign:
  client:
    config:
      default:
        loggerLevel: FULL


http:
  client:
    max-body-size: 20MB

server:
  tomcat:
    max-http-post-size: 20MB

spring:
  resources:
    static-locations: classpath:templates/
  servlet:
    multipart:
      max-file-size: 20MB
  cloud:
    discovery:
      client:
        composite-indicator:
          enabled: false
    openfeign:
      client:
        config:
          default:
            loggerLevel: FULL
  flyway:
    locations: classpath:db/migration
  jpa:
    properties:
      javax:
        persistence:
          query:
            timeout: 5000
    show-sql: false
    hibernate:
      ddl-auto: none
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:3306/banco
    username: springuser
    password: ThePassword
    driver-class-name: com.mysql.cj.jdbc.Driver
  mvc:
    dispatch-options-request: true
  









configuracao:
  batch:
    gerar-materia: 
      delay: 3000000
  youtube:
    url: "https://www.googleapis.com/youtube/v3"

  joomla:
    url: https://www.teste.com.br/api/index.php/v1
    bearer: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    idioma: "*"
  chatgpt:
    url: https://api.openai.com/v1/chat/completions
    bearer: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    model: gpt-4-turbo-preview 
    ## gpt-4
    temperature: 0.7
    max-tokens: 500
    role-system: system
    role-user: user
    role-assistant: assistant
  carga-dados-imagens:
    imagens:
      constante: "#joomlaImage://local-images"
      pasta-imagem-materias: c:\temp\materias\
      tamanho-horizontal: 985
      tamanho-vertical-minimo: 515
      qualidade: 0.9
      possui-instagram: true
      autor: Sobieski Produções
      cor-texto: 000000
      cor-fundo-texto: ffffff 
      posicao-texto: baixo
      fonte-texto: Helvetica
      tamanho-fonte-texto: 25
    logo: 
      path: c:\temp\logo.png
      alinhado-horizontal: esquerda
      alinhado-vertical: baixo
      distancia-margem-horizontal: 10
      distancia-margem-vertial: 150
      transparencia: 0.7
      tamanho-horizontal: 100
      qualidade: 0.9 


    
chatgpt:
  audiencias: 
    - Pessoas que buscam conteúdo e informações no Google e outros mecanismos de buscas. 
  prompts:
    pedir-dados-materia-seguinte: " - Deve ser diferente das que já passou anteriormente. \n" 
    pedir-dados-materia: "Torne-se um profissional com muito conhecimento em : Marketing de Conteúdo, Maketing Digital, Marketing Social \n
Com especialidade técnica nos assuntos de : %s \n
Entendento que uma matéria deve seguir os seguintes requisitos: \n
 - A matéria é para o site: %s .\n
 - Que tem as redes sociais: %s .\n
 - O perfil da audiência é : %s .\n 
 - Entregue em formato JSON, só o JSON pois será lido por um APP sua resposta, separados pos \",\" com layout : { titulos : array(string), primeiro-paragrafo: string,  url-proposta: string, meta-descricao: string, keywords: string, tags : array, faqs: array{pergunta: string, resposta: string}, roteiro: string, post-instagram: string} \n 
 - Use SEO na máteria para os termos : %s .\n
 - Devem ter 3 opções de Títulos, usando SEO, gatilhos mentais e emojis\n
 - Primeiro paragrafo ter no máximo 100 caracateres e deve ser usado estrutura de marketing para chamar atenção da máteria, como: Gatilhos mentais ou sensacionalismo. \n
 - Proponha um apelido para página (url-proposta) da máteria usando SEO, tudo em letras minúsculas, em português e separados por - (traço). \n  
 - Deve ter Meta Descrição (o campo meta-descricao), que é um resumo de 160 caracteres pode ter emojis, extremamente chamativo para exibir nos mecanismos de buscas. \n
 - Deve ter keyowrds, palavras chaves de calda curta de SEO da matéria. \n
 - Deve ter tags, que são uma array de no mínimo 5 opções, que são palavras chaves de calda longa usando SEO pensando nas possíveis buscas que o usuário possa fazer para achar essa matéria. \n
 - Deve ter FAQs, que são no máximo 6 perguntas e no minimo de 4, e respostas de no máximo 120 caracteres cada pergunta e resposta. \n
 - Deve ter roteiro: um roteiro de 1:30 minutos no máximo sobre a matéria para reels do instagram, somente com falas, deve ser bem humorado e com foco de ser viral.\n
 - Deve ter post-instagram, que é a descrição do poste no facebook e instagram com 1500 caracateres mais ou menos usando Marketing Social, emojis e Hashtags.\n
Agora gere esses dados para uma matéria sobre : \n%s \n"


    pedir-materia: "Vamos escrever agora o texto da matéria. Você é um profissional com muito conhecimento em Marketing de Conteúdo. Use o máximo de conhecimento e estratégias .\n
Com especialidade técnica em : %s .\n 
Entendento que uma matéria deve seguir os requisitos: \n
 - A matéria é para o site: %s .\n
 - Que tem as redes sociais: %s .\n
 - O perfil da audiência é : %s .\n
 - Use SEO na máteria para que ela seja o mais achavel possível em mecanismos de busca para os termos : %s .\n 
 - Formatar com HTML básico com subtitulos (htmls permitidos:  <table></table>, <tr></tr>, <td></td>, <th></th>, <font></font>, <br/>,<p></p>, <h2></h2>, <h3></h3>, <h4></h4>, <ul></ul>, <li><li>,<lo><lo>, <strong></strong>, <i></i>). \n
 - Trabalhe o melhor possível para que a matéria seja interessante e víral. \n
 - Pode usar emojis nos subtitulos e listas. \n
 - No minimo 5 subtitulos e cada um com no mínimo de 2 paragrafos por subtitulo. \n 
 - No caso de citar na matéria : descobertas, experimentos, livros, fatos históricos, etc, também adicione o nome dos envolvidos e datas relacionadas com fonte abnt. \n
 - Tente exemplificar o máximo que puder fazendo listas com exemplos se for o caso. \n 
${chatgpt.prompts.complemento-formato-pedir-materia}
 - Evite resumir a matéria sempre opite em expliar melhor principalmente termos tecnicos, entenda quanto mais atrativos os assuntos buscados que se relaciona ao tema da materia, mais chances ela tem de ser aberta e do usuário achar o que busca nela. \n
 - No final deve ter um subtitulo de perguntas frequentes sobre o tema e tenha 3 perguntas e as resposas delas.\n
 - Na conclusão da materia deve se fazer um call to action para o site, comentar abaixo da matéria ou ver as redes sociais. \n
 - Na matéria não deve ter hashtags.

\n
E matéria deve falar sobre :\n
%s "
 


    pedir-perguntas: " Se torne um profissional com muito conhecimento em Marketing Digital.\n
Faça uma mapa mental de perguntas em português para usar como possíveis direcionamentos de matérias, para isso trabalhe em possíveis buscas de usuários hoje na internet em site como Google, baseado nos critérios.\n
\n
 - Site que se destinam as perguntas : %s \n
 - Categorias que vamos trabalhar: [%s]\n 
\n
 - Sua especialidade técnica : %s \n
 - Responda em JSon pois será lido por um aplicativo que só lê JSon, sepradaos por \",\", somente no JSON no layout : \"{pergunta : string, perguntasAlternativas : array(string), ordemRelevancia:int, motivoSugestao:string, perfilEnquadra:string, idCategoria: int, dataSugestaoPublicacao: date(formato: yyyy-mm-dd), termos:array(String)} \".\n
 - Vai devolver uma lista do conjunto ditado acima evite quebrar no meio pois nâo ficará legivel para leitura pelo aplicativo , 
 - Estude pessoas, suas dores e necessidades dos perfis: %s .\n
 - Não repetir as perguntas. \n
 - Pode usar os termos isolados para criar as perguntas ou combiná-los com outros termos, datas comemorativas e palavras dentro do grupo de perfis.\n 
 - Tente elaborar perguntas o mais próximo do que seria um dúvida humana .\n
 - O campo \"pergunta\": Campo é obrigatório e se refere a pergunta principal que deve ser estudada para gerar uma matéria atendendo uma necessidade de mercado.\n
 - O campo \"perguntasAlternativas\" Campo é obrigatório e é uma lista de texto com perguntas alternativas, que tem relação com a principal e cobrem outros aspectos da principal, complementando a pergunta principal, no mínimo 2 no máximo 6.\n
 - O campo \"ordemRelevancia\", Campo é obrigatório e deve ser a ordem por relevância de buscas no google por exemplo com maior chances de se repetirem.\n
 - O campo \"motivoSugestao\" : Campo é obrigatório e deve ter uma justificativa breve por que sugeriu essa pegunta.\n
 - O campo \"perfilEnquadra\" : Que perfil que identificou que é relevante a essa pergunta, pode ser um fora do que citamos, porém que pertença ao universo pelo menos próximo do que citamos caso tenha identificado uma oportunidade.\n
 - O Campo \"idCategoria\": Dentro das categorias cidade em um JSon cima quais seria o id da categocia que mais se encaixaria a pergunta?\n
 - O Campo \"dataSugestaoPublicaca\" : Não é obrigatório, se a materia não se trata de um evento como o especifico (como: feriados, eventos de calendários, datas festivas, etc) não necessita enviar, deve ser usado só quando a pergunta tiver relação à uma data festiva ou um feriado e ai deve ser sugerir a data com 2 dias de antecedência ao dia do evento o mês vigente e neste ano.\n
 - O campo \"termos\" é uma array com no minimo 2 itens de termos de SEO sugeridos para essa titulo, dando preferência: termos técnicos, expressões linguisticas, jargões do assunto .\n
 - Retornar uma array de JSon com a quantidade mínima de perguntas: %d .\n
 - Pode combinar com feriados, ou datas festivas, ou informações relevantes do mês de %s, tendencias o mês.\n
 ${chatgpt.prompts.pedir-perguntas-detalhe}\n
 \n
 Usando os termos: %s \n"
