<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
      lang="pt-br" th:fragment="layout(title, conteudo)">
      	<head>
		<title th:replace="${title}">Titulo 1</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<main th:replace="${conteudo}"></main>
		</div>
		<script th:src="@{/js/bootstrap.bundle.js}"></script>
	</body>
</html>